@model DogWalkerMVC.Models.ViewModels.HomepageViewModel

@{
    ViewData["Title"] = "Home Page";
}

    <div>
        <div class="row">
            <div class="col">
                One of three columns
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2>This Week Total Walk Time</h2>
                        <h3>Top 3 Walkers</h3>
                        <ul class="list-group">
                            @foreach (var walker in Model.TopWalkers)
                            {
                            <a href="#" class="list-group-item list-group-item-action justify-content-between">
                                <span>@walker.Name</span>
                                <span class="badge badge-primary badge-pill">
                                    @walker.TotalDuration
                                </span>
                            </a>
                            }
                        </ul>
                    </div>  
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2>Dogs Not Walked Today, @Model.Today.ToString("MM/dd/yyyy")</h2>
                        <ul class="list-group">
                            @foreach (var dog in Model.Dogs)
                            {
                                <a href="#" class="list-group-item list-group-item-action">
                                    @dog.Name
                                </a>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
